@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "Above Demo Regular";
    src: url(../fonts/above/AboveDemoRegular.ttf);
}

.font-roboto-light {
    font-family: Roboto-Light;
}

#fontAbove {
    font-family: "Above Demo Regular";
}

body {
    font-family: Roboto, "Above Demo Regular";
    background-color: rgba(229, 229, 229, 0.89);
}

.content-wrapper .header-logo-wrapper {
    background: linear-gradient(to right, rgba(219,219,219,1) 0%, rgba(226,226,226,1) 20%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 60%, rgba(226,226,226,1) 80%, rgba(219,219,219,1) 100%);
    /*height: 343px;*/
    height: 14%;
    /*-webkit-logical-height: 14%;*/
    /*-webkit-logical-height: 284px;*/
}

.content-wrapper .header-logo-wrapper .bralo-group-logo {
    width: 14%;
    /*min-width: 464px;*/
}

.content-wrapper .header-container .bralo-group-heading {
    letter-spacing: 10px;
    font-size: 28px;
    color: #655959;
}

.content-wrapper .header-container .bralo-group-heading:after {
    content: ' ';
    background: linear-gradient(to right, rgba(219,219,219,1) -2%, rgba(89,106,114,1) 25%, rgba(89,106,114,1) 75%, rgba(219,219,219,1) 100%);
    height: 1px;
    display: block;
    width: 100%;
    position: relative;
    right: 6px;
}

.content-wrapper .text-copyright-wrapper {
    background: radial-gradient(ellipse at center, rgba(247,247,247,1) 50%,rgba(219,219,219,1) 100%);
    color: #655d5d;
}

.content-wrapper .text-copyright-wrapper .heading-wrapper {
    width: fit-content;
    margin: -4px auto 0 auto;
}

.content-wrapper .text-copyright-wrapper .heading-wrapper span {
    transform: scale(.8, 1);
}

.content-wrapper .text-copyright-wrapper p {
    color: #000000;
    font-size: 15px;
}

.content-wrapper .text-copyright-wrapper .real-estate-text {
    letter-spacing: 10px;
}

.content-wrapper:after {
    content: ' ';
    background: linear-gradient(to right, rgba(229,229,229,1) 0%,rgba(112,130,140,1) 15%,rgba(89,105,112,1) 30%,rgba(89,105,112,1) 70%,rgba(112,130,140,1) 85%,rgba(229,229,229,1) 100%);
    height: 1px;
    display: block;
}

.whiteboxes-wrapper {
    background: linear-gradient(to top, rgb(43, 43, 43) 0%,rgba(112,130,140,1) 15%,rgba(89,105,112,1) 30%,rgba(89,105,112,1) 70%,rgba(112,130,140,1) 85%,rgba(229,229,229,1) 100%);
    flex-wrap: wrap;
    height: calc(100vh - 488px - 40px);
    -webkit-logical-height: calc(100vh - 412px - 40px);
}

.whiteboxes-wrapper .whitebox {
    margin-right: 2px;
    flex: 1 0 19%;
    height: 100%;
}

.whiteboxes-wrapper:after {
    content: ' ';
    background: linear-gradient(to right, rgba(229,229,229,1) 0%,rgba(112,130,140,1) 15%,rgba(89,105,112,1) 30%,rgba(89,105,112,1) 70%,rgba(112,130,140,1) 85%,rgba(229,229,229,1) 100%);
    height: 1px;
    display: block;
    width: 100%;
}

.footer-list {
    color: #3b3b3b;
}